body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;  
    margin-bottom: 10px;  
}

main h1{
    margin-top: 0px;
    margin-bottom:5px;

}
main p{    
    margin:0px;
    margin-top:0px;
    border-bottom: 3px blue solid;
    padding-bottom: 10px;
}

main h2{
    margin:0;
    margin-bottom:4px;
    margin-top:15px;
}
main img{
    margin:0;
    width: 600px;
    border-radius: 25px;
}






/* @media (max-width: 600px) {

    .headercontainer{        
        display:flex;   
        flex-direction: column;
        align-items: center;
    }
    .navclassright{
        display:flex;   
        flex-direction: column;
        align-items: center; 
        margin-top: -10px;
    }
    .navclassitems:not(:last-child)::after {
        content: none;
    }
} */