body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex:1;
    width: 600px;
    margin-left: auto;
    margin-right:auto;    
}

main h1{
    margin-top: 0px;
    margin-bottom:5px;

}
main p{    
    margin:0px;
    margin-top:0px;
}
main img{
    margin:0;
    width: 600px;
}
main form{
    display: flex;
    flex-direction: column;
}
main input{
    margin-bottom: 10px;
}
main textarea{
    min-height: 100px;
    padding:4px;
}
main button{
    color:white;
    background-color: rgb(65, 60, 170);
    border-radius: 3px;
    border: 1px solid grey;
    padding-top: 3px;
    padding-bottom:3px;
    margin-top:3px;
}
main button:hover{
    cursor: pointer;
    background-color: rgb(21, 16, 119);
}




/* 
@media (max-width: 600px) {

    .headercontainer{        
        display:flex;   
        flex-direction: column;
        align-items: center;
    }
    .navclassright{
        display:flex;   
        flex-direction: column;
        align-items: center; 
        margin-top: -10px;
    }
    .navclassitems:not(:last-child)::after {
        content: none;
    }


} */