body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    flex:1;    
}



.homegrid{
    display:grid;
    grid-template-columns: 350px 350px;
    /* grid-template-rows: 50px 125px 60px; */
    grid-template-rows: auto auto auto;
    justify-content: center;
    column-gap: 20px;
    row-gap: 0px;
    margin-bottom: 35px;
}
.homegrid h1{
    grid-column:1/2;
    grid-row:1/2;   
    font-size: 20pt;
    margin:0;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    font-weight: 700;
}
.abouttext{
    margin:0;
    margin-top:-7px;
    padding:0;
    grid-column:1/2;
    grid-row:2/3;
    font-size: 11pt;   
}
.abouttext p{
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
}
.abouttext p + p{
    margin-top: 30px; /* space only between paragraphs */
}

.homegrid img{
    margin:0;
    border-radius:15px;    
    /* max-width: 100%; */

    width:100%;   
    height:225px;
    
    /* justify-self: center; */
    object-fit: cover;
    object-position: left top;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
}
.rightblock{
    grid-column:2/3;
    grid-row:2/5;   
}
.homegrid figure{
    /* grid-column:2/3;
    grid-row:4/5;    */
    border-style:solid;
    border-width: 0px;
    border-color: rgb(65, 60, 170);
    background-color: rgb(233, 233, 233);
    margin: 0px;
    border-radius:15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    margin-top: 17px;
}
.homegrid blockquote{
    text-align: left;
    margin:0;
    margin-top:10px;
    margin-left:10px;
    letter-spacing: 0.5px;
    padding:10px;
    padding-top:10px;
    font-size: 10pt;
}
.homegrid figcaption{
    text-align: right;
    margin-right:10px;
    padding-left:5px;
    padding-right: 5px;;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 10pt;
    color:rgb(50, 50, 50);
}




.projects-preview{
    /* flex:1; */
    /* background-color: red; */
    /* justify-content: space-around; */
}
.projects-preview-header{
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 16px; 
}
.projects-preview-header h2{
    margin: 0;
    /* white-space: nowrap; */
}
.section-line{
    flex: 1;
    height: 1px;
    background: #ccc;
}
.project-grid{
    display: grid;
    /* width:700px; */
    grid-template-columns: repeat(2, auto);
    /* grid-template-columns: 350px  350px; */
    /* gap: 24px; */
    /* justify-content: space-between; */

    justify-content: center;
    
    margin:0;
    margin-top:10px;
    margin-bottom:20px;
    gap:20px;

}
.project-tile{
    width:350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    display:grid;
    border-radius: 10px;
}
.project-tile img{
    width:100%;
    height:200px;
    object-fit: cover;
    object-position: left top;
    grid-column:1;
    grid-row:1/1;   
    border-radius: 10px;
    /* padding:5px; */
}
.project-text{
    grid-column:1;
    grid-row:2/3;   
    padding:5px;
    font-size: 9pt;
}









@media (max-width: 750px) {
    .projects-preview{
        /* max-width: 750px; */

    }
    .projects-preview-header{
        max-width: 720px;
        
    }
    .project-grid{
        margin-left:15px;
        margin-right:15px;
        justify-content: center;
    }
    .homegrid {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        /* grid-template-columns: 600px; */
        padding:15px;
    }
    .homegrid h1{
        margin:0;
        grid-column: 1;
        grid-row: 1;
        font-size: 20pt;      
        margin-bottom: 10px;
        margin-top:-15px;
        text-align: center;
    }
    .rightblock{
        grid-column: 1;
        grid-row: 2;
        display: grid;
        gap: 16px;
        justify-items: center;
        margin-bottom: 15px;
        
    }
 
    .abouttext{
        margin:0;
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 5px;
    }
    .homegrid img{
        margin:0;
        width: 100%;          /* ← responsive */
        max-width: 750px;     /* ← cap it */
        height: 400px;
        max-height: none;
        justify-self: center;
        object-fit: cover;
    }
    .homegrid figure{
        border-style:solid;
        width:100%;
        border-color: rgb(65, 60, 170);
        margin: 0px;
    }
}