header{
    border-left:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:1px;
    margin-left:0px;
    background-color: rgb(65, 60, 170);    
    border-color:black;
    border-style:solid;
    max-width:100%;
    margin-bottom:10px;
}

.headercontainer{
    max-width:1200px;
    display:flex;   
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2px;
}

.navclassleft{
    display:flex;  
    text-transform: uppercase;  
    padding:5px;
    margin-left: 10px;
}
.mainname {
    color: white;                 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;             
    padding-top: 5px;
}

.navclassright{
    display:flex;   
    text-transform: none; 
    padding:5px;
    margin-left: 10px;
}
.navclassitems{    
    color:white;
    text-decoration: none;      
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;    
    padding-top:5px;
}
.navclassitems:not(:last-child)::after {
    content: "|";
    margin: 4px;  
    color: white;  
}




body {
    min-height: 100vh;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}



.homegrid{
    display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px 125px 60px;
    justify-content: center;
}
.homegrid h1{
    grid-column:1/2;
    grid-row:1/2;   
    font-size: 20pt;
    margin:0;
}
.homegrid p{
    margin:0;
    grid-column:1/2;
    grid-row:2/3;    
}
.homegrid img{
    margin:0;
    grid-column:2/3;
    grid-row:1/3;  
    width:250px;  
    max-height: 160px;
    justify-self: end;
    object-fit: cover;
}

.homegrid figure{
    grid-column:1/3;
    grid-row:3/4;   
    border-style:solid;
    border-color: rgb(65, 60, 170);
    margin: 0px;
}
.homegrid blockquote{
    text-align: left;
    margin:0;
    margin-top:10px;
    margin-left:10px;

}
.homegrid figcaption{
    text-align: right;
    margin-right:10px;
    padding-bottom: 10px;
    font-style: italic;
}




footer{
    background-color: rgb(65, 60, 170);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 10pt;
    text-align: center;
    padding-bottom:8px;
    padding-top:5px;    
}
footer p{
    margin:0px;
}



@media (max-width: 600px) {

    .headercontainer{        
        display:flex;   
        flex-direction: column;
        align-items: center;
    }
    .navclassright{
        display:flex;   
        flex-direction: column;
        align-items: center; 
        margin-top: -10px;
    }
    .navclassitems:not(:last-child)::after {
        content: none;
    }


    .homegrid {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-columns: 550px;
        grid-template-rows: 460px;
    }
    .homegrid img{
        margin:0;
        grid-column:1/2;
        grid-row:1/2;  
        width:550px;  
        max-height: 560px;
        justify-self: center;
        object-fit: cover;      
    }
    .homegrid h1{
        margin:0;
        grid-column:1/2;
        grid-row:2/3;   
        font-size: 20pt;      
        margin-bottom: 5px;
    }
    .homegrid p{
        margin:0;
        grid-column:1/2;
        grid-row:3/4;    
        margin-bottom: 5px;
    }
    .homegrid figure{
        grid-column:1/2;
        grid-row:5/6;   
        border-style:solid;
        border-color: rgb(65, 60, 170);
        margin: 0px;
    }
}