body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    flex:1;
}



.homegrid{
    display:grid;
    grid-template-columns: 325px 300px;
    grid-template-rows: 50px 125px 60px;
    /* grid-template-rows: auto auto auto; */
    justify-content: center;
    column-gap: 20px;
    row-gap: 0px;
}
.homegrid h1{
    grid-column:1/2;
    grid-row:1/2;   
    font-size: 20pt;
    margin:0;
    /* margin-bottom: 20px; */
    letter-spacing: 0.5px;
    font-weight: 700;
}
.abouttext{
    margin:0;
    margin-top:-10px;
    padding:0;
    grid-column:1/2;
    grid-row:2/3;
    font-size: 11pt;   
}
.abouttext p{
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
}
.abouttext p + p{
    margin-top: 16px; /* space only between paragraphs */
}

.homegrid img{
    margin:0;
    border-radius:15px;    
    grid-column:2/3;
    grid-row:2/3;  
    width:300px;  
    max-height: 200px;
    justify-self: end;
    object-fit: cover;
    object-position: left top;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
}

.homegrid figure{
    grid-column:2/3;
    grid-row:4/5;   
    border-style:solid;
    border-width: 0px;
    border-color: rgb(65, 60, 170);
    background-color: rgb(233, 233, 233);
    margin: 0px;
    border-radius:15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.425);
    margin-top: 35px;
}
.homegrid blockquote{
    text-align: left;
    margin:0;
    margin-top:10px;
    margin-left:10px;
    letter-spacing: 0.5px;
    padding:4px;
    font-size: 10pt;
}
.homegrid figcaption{
    text-align: right;
    margin-right:10px;
    padding-left:4px;
    padding-right: 4px;;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 10pt;
}








@media (max-width: 650px) {
    .homegrid {
        display:grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: 550px;
        grid-template-rows: 460px;
    }
    .homegrid img{
        margin:0;
        grid-column:1/2;
        grid-row:1/2;  
        width:550px;  
        max-height: 560px;
        justify-self: center;
        object-fit: cover;      
    }
    .homegrid h1{
        margin:0;
        grid-column:1/2;
        grid-row:2/3;   
        font-size: 20pt;      
        margin-bottom: 5px;
    }
    .abouttext{
        margin:0;
        grid-column:1/2;
        grid-row:3/4;    
        margin-bottom: 5px;
    }
    .homegrid figure{
        grid-column:1/2;
        grid-row:5/6;   
        border-style:solid;
        border-color: rgb(65, 60, 170);
        margin: 0px;
    }
}