body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;   
    margin-bottom: 10px; 
}

main h1{
    margin-top: 0px;
    margin-bottom:5px;
}
.pclass {
    margin-top: 0px;
    margin-bottom:5px;
    border:none;
}


.maintile{
    border:2px solid rgb(65, 60, 170);  
    border-radius: 5px;
    margin-bottom:5px;  
}
main h2{
    margin:0;
    margin-bottom:0px;
    /* margin-top:15px; */
    background-color: rgb(65, 60, 170);
    color:white;
    padding:3px;
    padding-left:5px;
    padding-bottom: 5px;
}
.mainimage{
    margin:5px;
    
}
main img{
    margin:0;    
    max-width: 100%;
    border-radius: 5px;
}
main p{    
    margin:5px;
    margin-top:0px;       
}






/* @media (max-width: 600px) {

    .headercontainer{        
        display:flex;   
        flex-direction: column;
        align-items: center;
    }
    .navclassright{
        display:flex;   
        flex-direction: column;
        align-items: center; 
        margin-top: -10px;
    }
    .navclassitems:not(:last-child)::after {
        content: none;
    }


} */